---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import ArticlePreview from '../components/ArticlePreview.astro';

import { Image } from 'astro:assets';
import logo from "../assets/logo_with_name.png"; 

const posts = (await getCollection('blog')).slice(0, 4).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<style>
			.hero-post .hero-post__excerpt {
				line-height: var(--l-line-height);
				font-size: var(--l-font-size);
			}

			.featured-posts {
				display: grid;
				row-gap: var(--2xl-spacing);
			}

			@media screen and (min-width: 612px) {
				.featured-posts {
					display: grid;
					grid-template-columns: 1fr 1fr;
					column-gap: var(--m-spacing);
					row-gap: var(--2xl-spacing);
				}
			}

			
		</style>
	</head>
	<body>
		<header class="navigation-header" id="navigation-header">
			<div class="navigation-header__inner">
				<a href="/">
					<Image src={logo} alt="logo for mochi tale blog" width={94} height={94} />
				</a>
			</div>
		</header>
		<main id="main-container">
			<section id="hero-post" class="hero-post">
				<p class="hero-post__meta"><FormattedDate date={posts[0].data.pubDate}></FormattedDate></p>
				<h1 class="hero-post__title h1">{posts[0].data.title}</h1>
				<p class="hero-post__excerpt mt-xs">{posts[0].data.description}</p>
				<a class="read-more-link" href={posts[0].slug}>Read more</a>
			</section>
			<section id="featured-posts" class="featured-posts">
				<ArticlePreview 
					date={new Date()}
					title='Another title'
					linkToArticle='#'
					excerpt='Some excerpt of some types here not too long which will conclude with read more'>
				</ArticlePreview>
				<ArticlePreview 
					date={new Date()}
					title='And again another title'
					linkToArticle='#'
					excerpt='Some excerpt of some types here not too long which will conclude with read more'>
				</ArticlePreview>
				<ArticlePreview 
					date={new Date()}
					title='And again again another title'
					linkToArticle='#'
					excerpt='Some excerpt of some types here not too long which will conclude with read more'>
				</ArticlePreview>
				<ArticlePreview 
					date={new Date()}
					title='And again again again another title'
					linkToArticle='#'
					excerpt='Some excerpt of some types here not too long which will conclude with read more'>
				</ArticlePreview>
			</section>
		</main>
		<script>
			const nheader = document.querySelector(".navigation-header__inner");
			let lastKnownScrollPosition = 0;
			let ticking = false;
			
			function shrinkHeaderOnScroll(scrollPos: number) {
				if (scrollPos > 90) {
						nheader?.classList.add('scrolled')
					}  else {
						nheader?.classList.remove('scrolled')
					}
			}
			
			window.addEventListener('scroll', () => {
				lastKnownScrollPosition = window.scrollY;

				if (!ticking) {
					window.requestAnimationFrame(() => {
						shrinkHeaderOnScroll(lastKnownScrollPosition);
						ticking = false;
					})
					ticking = true;
				};
			}, {passive: true, capture: true})
		</script>
	</body>
</html>
